<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <title>{% block head_title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{%static 'blog/bootstrap/bootstrap.min.css' %}"  media="screen">
    <script src="https://kit.fontawesome.com/73f750a7e4.js" crossorigin="anonymous"></script>
</head>

<body>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Do It Django A to Z 2021</p>
    </div>
    <!-- /.container -->
</footer>
</body>
</html>